body {
  background: #151921;
  width: 100vw;
  overflow-x: hidden;
}
button {
  width: 320px;
  height: 60px;
  background-color: #F8F5F1;
  border-radius: 50px;
  border: none;
  font-family: 'Bold';
  font-size: 24px;
  transition: .4s;
}
button:hover {
  background-color: transparent;
  border: 4px solid #F8F5F1;
  color: #F8F5F1;
  transition: .4s;
}
h1 {
  font-family: 'Bold';
  font-size: 85px;
  line-height: 85px;
  color: #F8F5F1;
}
h2 {
  font-family: 'Bold';
  font-size: 20px;
  line-height: 43px;
  color: #F8F5F1;
}
.landing_first {
  width: 100%;
  height: 902px;
  background: linear-gradient(#9393E4, #222222);
}
.menubar {
  display: flex;
  width: 90%;
  margin: 0px auto;
  padding-top: 10px;
  flex-direction: row;
  justify-content: center;
}
.menubar img {
  display: block;
  margin: 0 auto;
  padding-right: 55px;
}
.menubar a {
  text-decoration: none;
  font-family: 'Regular';
  font-size: 20px;
  line-height: 43.5px;
  color: #F8F5F1;
  margin: 0 20px;
  transition: .3s;
}
.menubar a:hover {
  color: #222222;
  transition: .3s;
}
.globus_big {
  display: block;
  margin: 0 auto;
}
.main_logo {
  display: block;
  position: absolute;
  margin: 0px auto;
  top: 320px;
  text-align: center;
  left: 50%;
  margin-left: -20%;
}
.globus_medium {
  display: none;
  margin: 0 auto;
}
.globus_little {
  display: none;
  margin: 0 auto;
}
.main_logo_medium {
  display: none;
  position: absolute;
  margin: 0px auto;
  top: 320px;
  text-align: center;
  left: 5%;
}
.main_logo_little {
  display: none;
  position: absolute;
  margin: 0px auto;
  top: 320px;
  text-align: center;
  left: 50%;
}
.first_call p {
  font-family: 'LightOblique';
  font-size: 50px;
  line-height: 50px;
  color: #F8F5F1;
  position: absolute;
}
.first_text {
  left: 50%;
  top: 470px;
}
.second_text {
  top: 530px;
  width: 576px;
  left: 50%;
  margin-left: -19%;
}
.first_call button {
  position: absolute;
  top: 700px;
  left: 40%;
}
.peace {
  transform: rotate(30deg);
  margin-left: 80%;
  padding-top: 40px;
}
.third_text {
  font-family: 'Light';
  font-size: 50px;
  line-height: 60px;
  width: 1152px;
  color: #F8F5F1;
  display: block;
  margin: 20px auto;
}
.questions {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 250px auto;
  justify-content: space-between;
}
.questions p {
  font-family: 'LightOblique';
  font-size: 30px;
  line-height: 45px;
  color: #F8F5F1;
  width: 250px;
}
.label_big {
  width: 600px;
  margin: -140px auto;
}
.second_call {
  width: 100%;
  height: 1244px;
  margin-top: -420px;
  background: linear-gradient(#222222, #4E81CC, #87CEFA, #4E81CC, #222222);
}
.second_p {
  font-family: 'LightOblique';
  font-size: 50px;
  line-height: 60px;
  color: #F8F5F1;
  width: 863px;
  padding-top: 450px;
  margin-left: 144px;
  vertical-align: middle;
}
.second_call button {
  margin-left: 144px;
  margin-top: 80px;
}
.photo_globus {
  display: block;
  margin-top: 300px;
  margin-left: 110px;
}
.photo_globus_big {
  display: block;
}
.photo_globus_medium {
  display: none;
}
.photo_globus_little {
  display: none;
}
.globus_pros {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 443px;
  height: 463px;
  margin-top: -720px;
  margin-left: 220px;
}
.globus_pros p {
  font-family: 'Light';
  font-size: 30px;
  line-height: 35px;
  color: #F8F5F1;
}
.tabloids {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  padding-top: 950px;
  margin: 0px auto;
}
.tabloid {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}
.tabloid_bold {
  font-family: 'Bold';
  font-size: 85px;
  line-height: 75px;
  color: #F8F5F1;
  text-align: center;
}
.tabloid_light {
  font-family: 'Light';
  font-size: 30px;
  line-height: 35px;
  padding-top: 66px;
  width: 360px;
  color: #F8F5F1;
  text-align: center;
}
.padding {
  padding-top: 136px;
}
.mini_globus {
  width: 184px;
  margin: -70px auto;
}
.width_tab {
  width: 575px;
}
.no_margin {
  margin-top: -800px;
}
.third_call {
  margin-top: -500px;
  width: 100%;
  height: 762px;
  background: linear-gradient(#222222, #8B3E39, #E9744E, #8B3E39, #222222);
}
.third_p {
  font-family: 'LightOblique';
  font-size: 50px;
  line-height: 60px;
  color: #F8F5F1;
  width: 863px;
  padding-top: 230px;
  margin-left: 144px;
  vertical-align: middle;
}
.third_call button {
  margin-left: 144px;
  margin-top: 80px;
}
.third_graf {
  margin: -400px 960px;
}
.third_graf_big {
  display: block;
}
.third_graf_medium {
  display: none;
}
.third_graf_little {
  display: none;
}
.pro_text {
  margin-left: 78px;
}
.pro_text p {
  font-family: 'Light';
  font-size: 30px;
  line-height: 35px;
  width: 647px;
  color: #F8F5F1;
  margin-top: 115px;
}
.pro_graf {
  width: 353px;
  margin-top: -400px;
  margin-left: auto;
  margin-right: 0px;
}
.pro_graf_big {
  display: block;
}
.pro_graf_medium {
  display: none;
}
.pro_graf_little {
  display: none;
}
.forth_call {
  width: 1440px;
  height: 673px;
  margin: 123px auto;
  background-image: url(../images/forth_call.png);
}
.forth_call h1 {
  width: 864px;
  padding-top: 113px;
  padding-left: 78px;
}
.forth_call p {
  font-family: 'LightOblique';
  font-size: 50px;
  line-height: 50px;
  color: #F8F5F1;
  padding-left: 432px;
}
.forth_call button {
  margin: 121px 72px;
}
.main_footer {
  font-family: 'Light';
  font-size: 30px;
  line-height: 35px;
  color: #F8F5F1;
  text-align: center;
  width: 932px;
  margin: 0 auto;
}
.footer h2 {
  text-align: center;
  margin: 96px auto;
}
.footer_text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 675px;
}
.f_text {
  display: flex;
  flex-direction: column;
  margin: 30px 78px;
}
.f_bold {
  font-family: 'Bold';
  font-size: 20px;
  line-height: 43px;
  color: #F8F5F1;
  margin-bottom: 10px;
}
.f_light {
  font-family: 'LightOblique';
  font-size: 20px;
  line-height: 35px;
  color: #F8F5F1;
  width: 208px;
}
