html {
  overflow-x: hidden;
}
.landing {
  background: #F8F5F1;
  width: 100vw;
  overflow-x: hidden;
}
button {
  background: #F8F5F1;
  border-radius: 10px;
  border: 2px solid #151921;
  font-family: 'Regular';
  font-size: 24px;
  transition: .4s;
  z-index: 10;
}
button:hover {
  opacity: .7;
}
h2 {
  font-family: 'Bold';
  font-size: 48px;
  line-height: 50px;
  color: #151921;
}
p {
  font-family: 'Regular';
  color: #151921;
}
.first_call button {
  width: 256px;
  height: 52px;
  position: fixed;
  top: 10px;
  left: 36px;
  background: #F8F5F1;
}
.arrow_black {
  margin-left: 7px;
}
.globus_big {
  display: block;
  margin: 20px auto;
}
.first_photo_big {
  display: block;
  position: absolute;
  top: 20px;
  right: 0px;
}
.first_photo_medium {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
}
.globus_medium {
  display: none;
  margin: 0 auto;
}
.globus_little {
  display: none;
  margin: 0 auto;
}
.first_call h2 {
  font-family: 'Bold';
  font-size: 48px;
  line-height: 50px;
  color: #151921;
  position: absolute;
}
.first_text {
  left: 72px;
  top: 205px;
}
.second_text {
  top: 253px;
  width: 576px;
  left: 144px;
}
.third_text {
  left: 251px;
  top: 305px;
  display: block;
}
.main_logo {
  position: absolute;
  left: 192px;
  top: 384px;
}
.first_call p {
  font-family: 'Regular';
  font-size: 20px;
  line-height: 26px;
  width: 440px;
  color: #151921;
  display: block;
  position: absolute;
  top: 484px;
  left: 72px;
}
.landing_second_text {
  display: block;
  margin: 170px 200px;
  width: 900px;
}
.text_second {
  margin-left: 430px;
  width: 831px;
}

/* карточки */
.cards_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card {
  width: 683px;
  height: 480px;
  border-radius: 20px;
}
.event {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
  margin: 50px 0;
}
.events_text {
  background: #644165;
}
.events_big_text {
  font-size: 46px;
  line-height: 48px;
  color: #F8F5F1;
  margin-left: 18px;
  margin-top: 20px;
}
.events_big_text_down {
  font-size: 46px;
  line-height: 48px;
  color: #F8F5F1;
  margin-left: 320px;
}
.events_little_text {
  font-size: 23px;
  line-height: 32px;
  color: #F8F5F1;
  margin-top: 270px;
  margin-left: 28px;
}
.card_2 {
  width: 683px;
  height: 400px;
  border-radius: 20px;
}
.spot {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
  margin: 50px 0;
}
.spot_text {
  background: #3A4C7B;
}
.spot_big_text {
  font-size: 46px;
  line-height: 48px;
  color: #F8F5F1;
  margin-left: 18px;
  margin-top: 20px;
}
.spot_big_text_down {
  font-size: 46px;
  line-height: 48px;
  color: #F8F5F1;
  margin-left: 100px;
}
.spot_big_text_last {
  font-size: 46px;
  line-height: 48px;
  color: #F8F5F1;
  margin-left: 190px;
}
.spot_little_text {
  font-size: 23px;
  line-height: 32px;
  color: #F8F5F1;
  margin-top: 190px;
  margin-left: 28px;
}
.card_3 {
  width: 397px;
  height: 400px;
  border-radius: 20px;
}
.card_4 {
  width: 971px;
  height: 400px;
  border-radius: 20px;
}
.trick {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
  margin-top: 50px;
  margin-bottom: 150px;
}
.trick_text {
  background: #416552;
}
.trick_big_text {
  font-size: 46px;
  line-height: 48px;
  color: #F8F5F1;
  margin-left: 18px;
  margin-top: 20px;
}
.arrow_white {
  margin-left: 8px;
}




.landing_third {
  display: flex;
  flex-direction: row;
}
.event_go {
  width: 684px;
  height: 800px;
  border-radius: 20px;
  background: #F7C96E;
}
.event_go h2 {
  display: block;
  padding-top: 62px;
  margin-left: 20px;
}
.event_go img {
  margin: 80px 80px;;
}
.event_create {
  width: 684px;
  height: 800px;
  border-radius: 20px;
  background: #644165;
}
.event_create h2 {
  color: #F8F5F1;
  display: block;
  padding-top: 62px;
  margin-left: 20px;
}
.event_create_text p {
  font-size: 38px;
  line-height: 50px;
  color: #F8F5F1;
}
.stars {
  margin-bottom: -15px;
  margin-left: 5px;
  margin-right: 5px;
}
.event_create_text {
  margin-top: 100px;
  margin-left: 100px;
}
.event_create button {
  width: 183px;
  height: 64px;
  font-size: 38px;
  margin-left: 240px;
  margin-top: 130px;
}

.landing_third_container {
  width: 100%;
  height: 800px;
}
.landing_third {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}
.trick_text_two {
  margin-top: 150px;
  text-align: center;
}
.trick_pic_medium {
  display: none;
  margin: 60px auto;
}
.trick_pic_big {
  display: block;
  margin: 60px auto;
}
.level_text {
  text-align: center;
  margin-top: 50px;
}
.level_pic {
  margin: 60px 450px;
}
.frame_container {
  position: sticky;
  width: 100vw;
  height: 100vh;
  top: 0;
}
.frame_circle {
  width: 100vw;
  background: transparent;
}
.frame_text_first {
  width: 524px;
  padding-left: 162px;
}
.frame_stuffing_spot img {
  padding-left: 400px;
}
.frame_text_second {
  padding-top: 150px;
  text-align: center;
}
.frame_stuffing_figures img {
  padding-top: 100px
}
.frame_text_third {
  text-align: center;
  padding-top: 300px;
}
.frame_stuffing_hurry img {
  padding-top: 80px;
  padding-left: 480px;
  padding-bottom: 280px;
}
.last_photo_big {
  display: block;
  margin: 120px auto;
}
.last_photo_medium {
  display: none;
  margin: 20px auto;
}
.last_text {
  margin-top: 100px;
  margin-bottom: 200px;
  margin-left: 250px;
}
.second_last_text {
  margin-left: 300px;
}
.third_last_text {
  margin-left: 750px;
}

.collab {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}
.collab_first {
  display: flex;
  flex-direction: row;
}
.collab_text {
  background-color: #151921;
  border-radius: 20px 20px 0 20px;
  height: 480px;
  width: 972px;
}
.collab_text_h2 {
  color: #F8F5F1;
  margin: 20px;
}
.collab_text_p {
  color: #F8F5F1;
  font-size: 23px;
  line-height: 32px;
  margin-top: 200px;
  margin-left: 20px;
}
.last_button {
  width: 360px;
  height: 52px;
  margin: 20px;
}
.collab_right_medium {
  display: none;
}
.collab_second {
  display: flex;
  flex-direction: row;
  margin-top: -3px;
}
.collab_second_left {
  width: 972px;
  height: 80px;
  background: #B35B58;
  border-radius: 20px 0 20px 20px;
}
.collab_second_right {
  width: 397px;
  height: 80px;
  background: #3A4C7B;
  border-radius: 0 20px 20px 20px;
}

.footer {
  margin-top: 50px;
  width: 100vw;
  height: 846px;
  background: #151921;
}
.subscribe {
  padding: 100px;
  text-align: center;
}
.subscribe h2 {
  text-align: center;
  color: #F8F5F1;
  font-size: 32px;
}
.subscribe input {
  width: 553px;
  height: 32px;
  background: none;
  border: none;
  border-bottom: 1px solid #F8F5F1;
  font-style: 'Regular';
  font-size: 23px;
  line-height: 32px;
  color: #898989;
  margin: 30px 0;
}
.sub_button {
  width: 360px;
  height: 52px;
  margin-top: 20px;
}
.footer_text p {
  color: #F8F5F1;
  font-size: 18px;
  line-height: 23px;
}
.footer_text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  margin: 30px auto;
}
.footer_text_right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 711px;
}
.fat_logo_big {
  display: block;
  margin: 0px auto;
}
.fat_logo_medium {
  display: none;
}
