@import "reset.css";
@import "landing.css";
@import "styleguide.css";
@import "responsive.css";
@font-face {
  font-family: 'Light';
  src: url('../fonts/Light.ttf');
}
@font-face {
  font-family: 'LightOblique';
  src: url('../fonts/LightOblique.ttf');
}
@font-face {
  font-family: 'Bold';
  src: url('../fonts/Bold.ttf');
}
