@import "reset.css";
@import "landing.css";
@import "styleguide.css";
@import "responsive.css";
@font-face {
  font-family: 'Regular';
  src: url('../fonts/regular.otf');
}
@font-face {
  font-family: 'Bold';
  src: url('../fonts/bold.otf');
}
