@media screen and (max-width: 1000px){
   .globus_big {
     display: none;
   }
   .globus_medium {
     display: block;
   }
   .first_photo_big {
     display: none;
   }
   .first_photo_medium {
     display: block;
   }
   .first_text {
     left: 20px;
     top: 205px;
   }
   .second_text {
     top: 253px;
     width: 378px;
     left: 100px;
   }
   .third_text {
     left: 251px;
     top: 350px;
     display: block;
   }
   .first_call p {
     left: 20px;
   }
   .main_logo {
     left: 20px;
     top: 410px;
   }
   .first_call button {
     position: absolute;
     top: 600px;
     left: 20px;
   }
   .photo_globus_big {
     display: none;
   }
   .photo_globus_medium {
     display: block;
   }
   .landing_second_text {
     margin-top: 170px;
     margin-bottom: 170px;
     margin-left: 50px;
   }
   .text_second {
    margin-left: 210px;
    width: 831px;
    }
    .event {
      flex-direction: column;
    }
    .card {
      width: 900px;
    }
    .card_2 {
      width: 900px;
    }
    .card_3 {
      width: 900px;
    }
    .card_4 {
      width: 900px;
    }
    .spot {
      flex-direction: column;
    }
    .trick {
      flex-direction: column;
    }
    .landing_third {
      flex-direction: column;
    }
    .event_go {
      width: 100%;
    }
    .event_go h2 {
      width: 850px;
      margin-left: 150px;
    }
    .event_go img {
      margin-left: 160px;
    }
    .event_create h2 {
      width: 711px;
      margin-left: 150px;
    }
    .event_create_text {
      margin-left: 220px;
    }
    .event_create button {
      margin-left: 350px;
    }
    .event_create {
      width: 100%;
    }
    .landing_forth {
      margin-top: 900px;
    }
    .trick_pic_big {
      display: none;
    }
    .trick_pic_medium {
      display: block;
    }
    .level_pic {
      margin: 60px 200px;
    }
    .frame_circle {
      display: none;
    }
    .frame_container {
      display: none;
    }
    .frame_stuffing_spot {
      margin-top: 150px;
    }
    .frame_text_first {
      padding-left: 0px;
      margin-left: 40px;
    }
    .frame_stuffing_spot img {
      padding-left: 0px;
      margin-left: 100px;
    }
    .frame_stuffing_figures img {
      margin-left: -150px;
    }
    .frame_stuffing_hurry img {
      padding-top: 80px;
      padding-left: 230px;
      padding-bottom: 280px;
    }
    .last_photo_big {
      display: none;
    }
    .last_photo_medium {
      display: block;
    }
    .last_text {
      margin-left: 50px;
    }
    .third_last_text  {
      margin-left: 700px;
    }
    .collab_text {
      width: 691px;
    }
    .collab_right_big {
      display: none;
    }
    .collab_right_medium {
      display: block;
    }
    .collab_second_left {
      width: 690px;
    }
    .collab_second_right {
      width: 281px;
    }
    .footer_text_right {
      width: 486px;
    }
    .fat_logo_big {
      display: none;
    }
    .fat_logo_medium {
      display: block;
      padding-top: 20px;
    }

 @media only screen and (max-device-width: 480px) {
   h2 {
     font-size: 32px;
     line-height: 38px;
   }
   .first_photo_medium {
     display: none;
   }
   .globus_big {
     display: none;
   }
   .globus_medium {
     display: none;
   }
   .globus_little {
     display: block;
   }
   .second_text {
     width: 550px;
   }
   .third_text {
     top: 300px;
   }
   .main_logo {
     left: 30%;
   }
   .first_call p {
     left: 30%;
     width: 304px;
     margin-top: 10px;
   }
   .first_call button {
     left: 30%;
   }


   .second_text {
     width:
   }
   .third_text {
     font-size: 32px;
   }
   .menubar {
     display: none;
   }
   h1 {
     font-size: 65px;
   }
   .tabloid_bold {
     font-size: 95px;
   }
  .second_p {
    font-size: 48px;
  }
}
