html {
  scroll-behavior: smooth;
}
h3 {
  font-family: 'Regular';
  font-size: 40px;
  color: #F8F5F1;
}
h4 {
  font-family: 'Regular';
  font-size: 20px;
  line-height: 30px;
  color: #F8F5F1;
  margin-top: 75px;
}
body {
  background: #151921;
  width: 100vw;
  overflow-x: hidden;
}
.sidebar {
  position: fixed;
  margin-top: 20px;
}
.sidebar a {
  text-decoration: none;
  font-family: 'Regular';
  font-size: 23px;
  line-height: 32px;
  color: #F8F5F1;
  transition: .1s ease;
}
.sidebar a:hover {
  color: #F7C96E;
  transition: .3s ease;
}
.first_screen {
  width: 100%;
}
.first_screen_text {
  position: absolute;
  right: 10%;
  top: 350px;
}
.first_screen_text p {
  font-family: 'Regular';
  font-size: 24px;
  line-height: 48px;
  color: #F8F5F1;
}
.first_screen_img {
  margin: 5px 40px;
}
.concept {
  margin: 183px 252px;
}
.concept h4 {
  width: 574px;
}
.manifest {
  margin-top: 152px;
}
.logo_text {
  margin-left: 720px;
}
.logo_text h4 {
  width: 300px;
}
.logotypes {
  text-align: center;
  margin: 210px auto;

}
.logotype_middle {
  margin-top: 20px;
}
.logotype_little {
  margin-top: 20px;
}
.logotype_dark{
  width: 1152px;
  height: 515px;
  display: flex;
  flex-direction: row;
  margin-left: 252px;
}
.frame {
  width: 100%;
  border-radius: 20px;
  background-color: #F8F5F1;
}
.logo_dark {
  position: absolute;
  left: 565px;
  margin-top: -400px;
}
.logo_dark h3 {
  color: #151921;
}
.logo_dark img {
  margin-top: 100px;
}
.logotype_dark img {
  display: block;
  margin: 120px auto;
}
.logotype_dark h3 {
  margin-left: 150px;
  padding-top: 78px;
}
.secure h3 {
  margin-left: 252px;
  margin-top: 120px;
}
.secure img {
  display: block;
  margin-top: 90px;
  margin-left: 252px;
}
.variants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 273px;
  margin: 80px auto;
}
.variants_text h4 {
  width: 469px;
}
.variants_together {
  display: flex;
  flex-direction: row;
  margin-left: 252px;
}
.wrong h3 {
  margin: 100px 252px;
}
.wrong img {
  display: block;
  margin-left: 252px;
}
.typography {
  margin: 120px 720px;
}
.fonts {
  width: 1100px;
  margin-left: 252px;
}
.fonts h1 {
  margin-top: 100px;
}
.fonts h4 {
  margin-top: 20px;
}
.pragmatica_regular {
  font-family: 'Regular';
}
.typo_text {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: -790px;
}
.typo_dark {
  display: flex;
  flex-direction: row;
  width: 1152px;
  height: 683px;
  margin-top: 80px;
  margin-left: 252px;
}
.typo_dark .first_f {
  border-radius: 20px;
  width: 818px;
  background-color: #F8F5F1;
}
.typo_dark .second_f {
  border-radius: 20px;
  width: 334px;
  background-color: #F8F5F1;
}
.typo_dark_text {
  width: 827px;
  margin-left: 249px;
}
.typo_dark_text h1 {
  width: 690px;
  text-align: right;
  font-size: 110px;
  line-height: 128px
}
.typo_dark_text h3 {
  width: 690px;
  text-align: right;
  font-size: 46px;
  line-height: 48px
}
.typo_dark_text h4 {
  width: 690px;
  text-align: right;
  font-size: 23px;
  line-height: 32px
}
.values {
  text-align: left;
}
.white_typo {
  color: #151921;
  margin-top: 180px;
}
.typo_dark {
  display: flex;
  flex-direction: row;
}
.typo_dark_values {
  margin-top: -35px;
}
.typo_compositon h3 {
  margin-left: 252px;
  margin-top: 100px;
}
.typo_compositon img {
  margin-left: 252px;
  margin-top: 40px;
}
#colours h1 {
  margin: 150px 252px;
}
.colours_container {
  width: 1155px;
  height: 756px;
  display: flex;
  flex-direction: row;
  margin-left: 252px;
}
.colours_container span {
  font-family: 'Regular';
  font-size: 20px;
  line-height: 35px;
  writing-mode: vertical-rl;
  height: 225px;
  text-align: right;
  margin-top: 510px;
}
.yellow {
  width: 180px;
  border-radius: 20px;
  background-color: #F7C96E;
}
.black {
  width: 288px;
  border-radius: 20px;
  border: 3px solid #F8F5F1;
  background-color: #151921;
}
.black span {
  color: #F8F5F1;
}
.white {
  width: 288px;
  border-radius: 20px;
  background-color: #F8F5F1;
}
.blue {
  width: 180px;
  border-radius: 20px;
  background-color: #3A4C7B;
}
.blue span {
  color: #F8F5F1;
}
.green {
  width: 108px;
  border-radius: 20px;
  background-color: #416552;
}
.green span {
  color: #F8F5F1;
}
.red {
  width: 72px;
  border-radius: 20px;
  background-color: #B35B58;
}
.red span {
  color: #F8F5F1;
}
.purple {
  width: 36px;
  border-radius: 20px;
  background-color: #644165;
}
.purple span {
  color: #F8F5F1;
}
.contrasts h3 {
  margin-top: 180px;
}
.contrasts {
  margin: 40px 252px;
}
.swatches {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1153px;
  height: 126px;
  margin-top: 60px;
}
.s_yellow {
  background-color: #F7C96E;
  width: 145px;
  height: 126px;
  border-radius: 50%;
}
.s_blue {
  background-color: #3A4C7B;
  width: 145px;
  height: 126px;
  border-radius: 50%;
}
.s_red {
  background-color: #B35B58;
  width: 145px;
  height: 126px;
  border-radius: 50%;
}
.s_green {
  background-color: #416552;
  width: 145px;
  height: 126px;
  border-radius: 50%;
}
.s_purple {
  background-color: #644165;
  width: 145px;
  height: 126px;
  border-radius: 50%;
}
.s_white {
  background-color: #F8F5F1;
  width: 145px;
  height: 126px;
  border-radius: 50%;
}
.s_black {
  background-color: #151921;
  width: 145px;
  height: 126px;
  border-radius: 50%;
  border: 1px solid #F8F5F1;
}
.contrasts_check {
  margin-top: 60px;
}
.typo_colours {
  margin-left: 252px;
}
.typo_colours h3 {
  margin-top: 100px;
}
.s_typo_black {
  width: 46px;
  height: 121px;
  border: 3px solid #F8F5F1;
  border-radius: 12px;
}
.s_typo_white {
  width: 52px;
  height: 273px;
  background-color: #F8F5F1;
  border-radius: 12px;
  margin-top: 18px;
}
.c_typo_white {
  width: 327px;
  height: 126px;
  border-radius: 12px;
  background: #F8F5F1;
}
.c_typo_black {
  width: 323px;
  height: 121px;
  border-radius: 12px;
  border: 3px solid #F8F5F1;
  background: #151921;
  margin-top: 19px;
}
.c_typo_green {
  width: 327px;
  height: 126px;
  border-radius: 12px;
  background: #416552;
  margin-top: 19px;
}
.c_typo_yellow {
  width: 327px;
  height: 126px;
  border-radius: 12px;
  background: #F7C96E;
}
.c_typo_blue {
  width: 327px;
  height: 126px;
  border-radius: 12px;
  background: #3A4C7B;
  margin-top: 19px;
}
.c_typo_red {
  width: 327px;
  height: 126px;
  border-radius: 12px;
  background: #B35B58;
  margin-top: 19px;
}
.c_typo_purple {
  width: 327px;
  height: 126px;
  border-radius: 12px;
  background: #644165;
  margin-top: 290px;
}
.swatches_typo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1100px;
  margin-top: 62px;
}
.swatches_typo span {
  font-family: 'Bold';
  font-size: 54px;
  color: #151921;
  margin-left: 120px;
  line-height: 120px;
}
.c_typo_black span {
  color: #F8F5F1;
}
.c_typo_green span {
  color: #F8F5F1;
}
.c_typo_blue span {
  color: #F8F5F1;
}
.c_typo_red span {
  color: #F8F5F1;
}
.c_typo_purple span {
  color: #F8F5F1;
}
#grid h1 {
  margin: 100px 252px;
}
#grid h4 {
  margin-top: 50px;
  margin-left: 252px;
  width: 484px;
}
.main_grid {
  display: block;
  margin-top: 60px;
  margin-left: 252px;
}
.grids {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 40px;
  margin-left: 252px;
}
.grid_globus {
  margin-top: 200px;
  margin-left: 80px;
}
#grafics {
    margin: 100px 252px;
}
#grafics h4 {
  width: 556px;
}
.extra_g {
  width: 934px;
}
.extra {
  margin-top: 150px;
  margin-left: 180px;
}
/*
.extra_g1 {
  display: flex;
  flex-direction: row;
}
.cg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.extra_g1 {
  width: 60%;
  margin-top: 60px;
  margin-left: 144px;
}
.extra_g2 {
  width: 80%;
  margin-top: 60px;
  margin-left: 144px;
}
.extra_g3 {
  width: 80%;
  margin-top: 60px;
  margin-left: 144px;
}
.cg_text{
  font-family: 'Light';
  font-size: 16px;
  line-height: 24px;
  color: #F8F5F1;
  width: 290px;
} */
.symbols_heading {
  margin: 100px 720px;
}
.symbols {
  width: 100%;
  height: 3373px;
  background-color: #F8F5F1;
}
.round {
  color: #222222;
  padding: 60px 72px;
}
.symbols1 {
  margin-left: 60px;
  margin-bottom: 80px;
}
.without_border {
  color: #222222;
  padding: 60px 72px;
}
.symbols2 {
  margin-left: 60px;
  margin-bottom: 80px;
}
.x {
  color: #222222;
  padding: 60px 72px;
}
.symbols3 {
  margin-left: 60px;
  margin-bottom: 80px;
}
.together {
  color: #222222;
  padding: 60px 72px;
}
.together_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: 40px 150px
}
.symbol4 {
  font-family: 'Light';
  font-size: 20px;
  line-height: 24px;
  color: #222222;
  width: 290px;
}
.symbols5 {
  margin: 100px 390px;
}
.main_photo {
  margin: 60px 720px;
}
.photo_text {
  font-family: 'Light';
  font-size: 20px;
  line-height: 24px;
  color: #F8F5F1;
  width: 467px;
  margin-left: 720px;
}
.photo1 {
  display: block;
  margin: 100px auto;
}
.photo2 {
  display: block;
  margin: 100px auto;
}
.last_photo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
.on_photo {
  font-size: 50px;
  width: 836px;
  margin-left: -650px;
  margin-top: 250px;
}
.on_photo_flex {
  font-family: 'Light';
  font-size: 20px;
  line-height: 24px;
  color: #F8F5F1;
  width: 700px;
  margin-left: 520px;
}
.compositon_head {
  width: 1227px;;
  margin-top: 100px;
  margin-left: 150px;
}
.composition_4 {
  margin-left: 150px;
}
.comp {
  display: block;
  margin: 50px 80px;
}
#tone {
  margin: 250px 150px;
}
.last_last {
  width: 360px;
  padding-top: 40px;
}
.last_screen {
  width: 100%;
  height: 360px;
  background: linear-gradient(#222222, #87CEFA, #87CEFA);
}
.last_logo {
  margin-left: 170px;
}
.last_text {
  text-align: center;
  margin-top: 40px;
}
